.newItem{
    border: solid rgb(186, 186, 186); 
    border-width: 2px;
    padding: 20px;
    list-style-type: none;
}

.itemName{
    font-size: 22px;
    font-style: italic;
    color: rgb(138, 138, 138)
}

.checkButton{
    font-size: 16px;
}

.deleteButton{
    font-size: 16px;
}

.checkedItem{
    text-decoration: line-through;
}